.contact {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  &__info {
    display: flex;

    h1 {
        padding: 20px 10px 0px 0px;
      font-size: 24px;
      margin-bottom: 5px;
    }

    p {
      font-size: 16px;
      color: #666;
      margin-bottom: 20px;
    }
  }

  &__addContact{
    display: flex;
    padding: 20px 0px;

    input{
        width: 80%;
        border: 0.5px solid #ddd;
        border-radius: 5px;
        font-size: 2.5rem;
    }
  }


  .add-btn {
    background-color: #013e99;
    color: white;
    font-weight: 900;
    border: none;
    margin-left: 10px;
    padding: 20px 5px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s;

    &.blurred {
        filter: blur(2px);
        pointer-events: none;
      }
  
      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
  }

  .delete-all-btn {
    background-color: #013e99;
    color: white;
    border: none;
    padding: 20px 5px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    // gap: 5px;
    margin-bottom: 10px;
  }

  .contacts-table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
    //   border: 1px solid #ddd;
      padding: 12px;
      text-align: left;
      font-size: 2rem;
    }

    th {
      background-color: #f2f2f2;
    }

    .delete-btn {
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: #f44336;
    }
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    position: relative;

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      cursor: pointer;
    }

    .input-group {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
      }

      input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }

    .button-group {
      display: flex;
      justify-content: flex-end;
      gap: 10px;

      button {
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      .cancel-btn {
        background-color: #ccc;
      }

      .add-contact-btn {
        background-color: #4caf50;
        color: white;
      }
    }
  }
}
