.settings{
    text-align: center;

    h1{
        display: flex;
        flex-direction: column;
        letter-spacing: 5px;
        flex: 1;
        // justify-content: center;
        padding-top: 80px;
        font-size: 8rem;
        font-weight: 800;
    }
}