.nav-icon{
    position: fixed;
    // top: 20px;
    left: 10px;
    z-index: 1000;
    // background: #fff;
    // color: #ffffff;
    border: none;
    padding: 10px;
    // font-size: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  
}


.navbar {
    position: fixed;
    left: -250px;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80px;
    background: #4355fa;
    transition: left 0.3s ease;
    z-index: 999;
  
    &.active {
      left: 0;
      // border-left: 2px solid #fff;
      // background: #4355fa;
    }
  
    ul {
      list-style-type: none;

      padding: 0;
      margin-top: 60px;
      
    }
  
    li {
      padding: 15px 20px;
      height: calc(100vh - 500px);

      // border-bottom: 1px solid #444;
      
    }
  
    a {
      color: white;
      text-decoration: none;
      font-size: 18px;
      display: block;
      transition: color 0.3s ease;
  
      &:hover {
        // border-left: 2px solid #fff;
      }
    }

    &__menu__item{
      position: relative;

      &.active{
        
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 30px;
                transform: translateY(-50%);
                height: 40px; // Match this to your icon size
                width: 4px;
                background-color: white;
            }

            

            .navbar__menu__item__links {
                color: white;
            }
      }
      &__links {
        // Existing styles...
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
    }
  }